<!doctype html>
<html lang='en'>
<head>
    <title>Namaskaram</title>
    <meta charset="utf-8">
    <style>
        p{
            font-family:monospace;
            font-size: 80px;
            text-align: center;
        }
    </style>
<body>
    <p>Namaskāram</p>
    <ul>
        <li><a href="/exercise-2">2. Exercise 2</a></li>
        <li><a href="/exercise-3">3. Exercise 3 - URL Parsing</a></li>
        <li><a href="/exercise-4">4. Exercise 4</a></li>
    </ul>
</body>
</html>