<!DOCTYPE html>
<html>
    <head>
        <title>BlogPost 5</title>
        <meta charset="utf-8">
    </head>
    <body>
        <strong>BLOG</strong>
        <form action="/exercise-5/submission" method="POST">
            <input type="text" placeholder="start your blog here..." name="bloginput">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>