<!doctype html>
<html>
<head>
    <title>Search Results</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Search Results</h1>
    <p>You searched for: <%= query %></p>
    <a href="/exercise-3">Go back to search page</a>
    <br>
    <a href="/">Home</a>
</body>

</html>