<!doctype html>
<html>
<head>
    <title>Search Results 3</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Search Results</h1>
    <p>You searched for: <strong><%= query %></strong></p>
    <p><a href="/exercise-3">Go back to search page</a></p>
    <p><a href="/">Home</a></p>
</body>

</html>