<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 4 - Search Page</title>
    <style>
        body{
            font-family:monospace;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Search Page</h1>

    <form action="/exercise-4/result4" method="POST">
        <input type="text" name="string" placeholder="Search" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>

