<!doctype html>
<html>
    <head>
        <title>Exercise 3 - Search String</title>
        <meta charset="utf-8">
        <style>
            body{
                font-family:monospace;
                font-size: 30px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form action="/exercise-3/resultpage" method="GET">
            <input type="text" placeholder="Search" name="string">
            <button>Submit</button>
        </form>
    </body>
</html>

